body {
   width: 240px;
   margin: 9px auto;
   padding: 0;
   color: #000;
   background-color: transparent;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 16px;
}

a { text-decoration: none; }

h1 {
   display: none;
   margin: 10px 5px 10px 0;
   padding: 5px;
   padding-left: 10px;
   color: #fff;
   background-color: #3a4663;
   font-size: 1em;
   text-shadow: 1px 1px #0a1633;
   box-shadow: 1px 0px 1px #1a2643, 0px 1px 1px #2a3653, 2px 1px 1px #1a2643, 1px 2px 1px #2a3653, 3px 2px 1px #1a2643, 2px 3px 1px #2a3653, 4px 3px 1px #1a2643, 3px 4px 1px #2a3653, 5px 4px 1px #1a2643, 4px 5px 1px #2a3653, 6px 5px 1px #1a2643;
}

fieldset {
   position: relative;
   margin: 1px 0;
   margin-bottom: 10px;
   padding: 0;
   border: none;
}

#Passwd, #Salt, #Domain { width: 215px; }
#Passwd, #Salt, #Domain, #Len {
   height: 14px;
   margin: 0;
   padding: 10px;
   font-size: 15px;
   background-color: #f3f3f3;
   border: none;
   text-shadow: 1px 1px #fff;
   border-radius: 0;
   -webkit-appearance: none;
}

label {
   display: none;
   position: absolute;
   top: 5px;
   left: 5px;
   color: #999;
   font-size: 12px;
}

input:focus { outline: none; }
::-webkit-input-placeholder { color: #999; text-shadow: 1px 1px #fff; }
:-moz-placeholder { color: #999; text-shadow: 1px 1px #fff; }
::-moz-placeholder { color: #999; text-shadow: 1px 1px #fff; }
:-ms-input-placeholder { color: #999; text-shadow: 1px 1px #fff; }

label.Missing { color: #c66; }
input.Missing::-webkit-input-placeholder { color: #c66; }
input.Missing:::-moz-placeholder { color: #c66; }
input.Missing::-moz-placeholder { color: #c66; }
input.Missing:-ms-input-placeholder { color: #c66; }

#Passwd, #Salt, #Domain, #Len, #Up, #Down, #MethodField, #Result { box-shadow: 1px 0px 1px #ccc, 0px 1px 1px #ddd, 2px 1px 1px #ccc, 1px 2px 1px #ddd, 3px 2px 1px #ccc, 2px 3px 1px #ddd, 4px 3px 1px #ccc, 3px 4px 1px #ddd, 5px 4px 1px #ccc, 4px 5px 1px #ddd, 6px 5px 1px #ccc; }

noscript { color: #f33; }

#Options {
   float: right;
   padding: 0 5px;
   color: #233;
   font-weight: normal;
   text-decoration: none;
   cursor: pointer;
}

#SaltCanvas {
   display: none;
   position: absolute;
   top: 10px;
   right: 15px;
   width: 16px;
   height: 16px;
   cursor: pointer;
}

#LenField {
   float: left;
   margin-top: 0;
   margin-right: 8px;
   border: none;
}

#Len {
   float: left;
   width: 25px;
   margin-right: 1px;
}

#Down, #Up {
   display: inline-block;
   width: 35px;
   height: 18px;
   margin-right: 1px;
   padding: 8px 0;
   color: #666;
   background-color: #f3f3f3;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-shadow: 1px 1px #fff;
   cursor: pointer;
}

#Generate {
   float: left;
   width: 108px;
   height: 14px;
   padding: 10px 0;
   color: #eee;
   background-color: #2d7676;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   text-shadow: 1px 1px #0d5656;
   cursor: pointer;
   box-shadow: 1px 0px 1px #0d5656, 0px 1px 1px #1d6666, 2px 1px 1px #0d5656, 1px 2px 1px #1d6666, 3px 2px 1px #0d5656, 2px 3px 1px #1d6666, 4px 3px 1px #0d5656, 3px 4px 1px #1d6666, 5px 4px 1px #0d5656, 4px 5px 1px #1d6666, 6px 5px 1px #0d5656;
}

#Generate:hover {
   color: #fff;
   background: #069f80;
}

#Result {
   clear: both;
   position: relative;
   width: 235px;
   height: 16px;
   padding: 10px 0;
   background-color: #f3f3f3;
}

#Canvas {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 16px;
   height: 16px;
   cursor: pointer;
}

#Output {
   padding-left: 35px;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 15px;
   text-shadow: 1px 1px #fff;
   letter-spacing: 0.05em;
   word-wrap: break-word;
}

#SaltField, #MethodField { display: none; }

#MethodField {
   width: 215px;
   padding: 10px;
   background-color: #f3f3f3;
}

#MethodField label {
   display: inline;
   position: relative;
   top: 0; left: 0;
   padding-left: 3px;
   padding-right: 15px;
   color: #333;
   font-size: 14px;
}
