/* Basic */

body {
   width: 320px;
   margin: 0 auto;
   padding: 0;
   color: #333;
   background-color: #689;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 16px;
}

a {
   text-decoration: none;
}

h1 {
   margin: 0;
   margin-bottom: 10px;
   font-size: 1.25em;
}

noscript {
   margin-top: 10px;
   color: #f33;
}

* {
   -webkit-tap-highlight-color: transparent;
}


/* Container */

#main {
   margin-top: 50px;
   padding: 25px;
   background-color: #fff;
   border-radius: 4px;
}


/* Update notification */

#Update {
   display: none;
   padding: 3px 5px;
   background-color: #cef;
   text-align: center;
   border-radius: 4px;
}

#Update a {
   color: #134;
}

#Update a:hover {
   text-decoration: underline;
}


/* Canvas */

#Canvas {
   display: none;
   position: absolute;
   top: 11px;
   right: 10px;
   width: 16px;
   height: 16px;
}


/* Form elements */

form {
   margin: 0;
}

fieldset {
   position: relative;
   margin: 0;
   margin-top: 10px;
   padding: 0;
   border: none;
}

input {
   background-color: #fff;
   border: solid 2px #ccc;
   border-radius: 4px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
}

input:focus {
   outline: none;
   border-color: #9bc;
}

label {
   font-size: 14px;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


/* Placeholders */

label.placeholder {
   display: none;
   position: absolute;
   top: 11px;
   left: 12px;
   color: #ccc;
}

::-webkit-input-placeholder {
   color: #ccc;
   font-family: Helvetica, Arial, sans-serif;
}

:-moz-placeholder {
   color: #ccc;
   font-family: Helvetica, Arial, sans-serif;
}

::-moz-placeholder {
   color: #ccc;
   font-family: Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
   color: #ccc;
   font-family: Helvetica, Arial, sans-serif;
}

.Missing label { color: #d66; }
.Missing input::-webkit-input-placeholder { color: #d66; }
.Missing input:::-moz-placeholder { color: #d66; }
.Missing input::-moz-placeholder { color: #d66; }
.Missing input:-ms-input-placeholder { color: #d66; }
.Missing input { border-color: #d66; }


/* Text fields */

#Passwd, #Secret, #Domain {
   width: 100%;
   height: 38px;
   margin: 0;
   padding: 8px 10px;
   font-size: 15px;
}

#Passwd {
   padding-right: 30px;
}

#PasswdField, #DomainField {
   clear: both;
}


/* Length field */

#LenField input {
   float: left;
   width: 38px;
   height: 31px;
   margin: 0;
   padding: 5px;
   font-size: 14px;
   border-radius: 4px 0 0 4px;
}

#LenField label {
   float: left;
   width: 24px;
   height: 16px;
   margin: 0;
   padding: 6px 0;
   padding-bottom: 7px;
   color: #999;
   background-color: #ccc;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   border-bottom: solid 2px #bbb;
   border-radius: 4px 0 0 4px;
   cursor: pointer;
}

#LenField label:hover {
   color: #000;
}

#LenField label:first-of-type {
   padding-left: 2px;
   border-radius: 0;
}

#LenField label:last-of-type {
   padding-right: 2px;
   border-radius: 0 4px 4px 0;
}


/* Method toggle */

#MethodField {
   float: right;
}

input[type="radio"] {
   display: none;
}

input[type="radio"] + label {
   float: right;
   width: 48px;
   height: 16px;
   margin: 0;
   padding: 6px 0;
   color: #999;
   background-color: #ccc;
   text-align: center;
   border-bottom: solid 2px #999;
   cursor: pointer;
}

input[type="radio"] + label:hover {
   color: #000;
}

input[type="radio"]:checked + label {
   color: #fff;
   background-color: #356;
   font-weight: bold;
   border-bottom: solid 2px #023;
}

#MethodField label:first-of-type {
   border-radius: 0 4px 4px 0;
}

#MethodField label:last-of-type {
   border-radius: 4px 0 0 4px;
}


/* TLD toggle */

#TLDField {
   position: absolute;
   top: 0;
   right: 9px;
}

input[type="checkbox"] {
   display: none;
}

input[type="checkbox"] + label {
   padding: 2px 4px;
   color: #999;
   background-color: #fff;
   font-size: 12px;
   border: solid 1px #999;
   border-radius: 3px;
   cursor: pointer;
}

input[type="checkbox"] + label:hover {
   color:#333;
   border-color: #333;
}

input[type="checkbox"]:checked + label {
   color: #fff;
   background-color: #356;
   border-color: #023;
   text-decoration: line-through;
}

input[type="checkbox"]:checked + label:hover {
   color: #fff;
   border-color: #023;
   text-decoration: line-through;
}


/* Advanced options */

#Options {
   float: right;
   width: 18px;
   height: 18px;
   margin-right: 2px;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAACDElEQVRIx63Wv0okQRAG8N/M3qKJkWCmJneGa2Jg5h8QRPEZDEw02ETxcURfw1R8ChcEwcRME711Z6Yu2N5x13/HcdMNzfbsVx9V9VV1N+9HS4a83l8K4bLe58i0/GVkmNORyeRY9CyEZ4vIZTIdcwn5Lc2+e+EIU9gQSqWwkb4cCff2v6NqYV0ohNIeOBUKhXAK9pQJsZ4sPhk5lvVVCuHRKs6FgYFwjlWPQqHStzyRyTFv8uTsVR3MjWP3QqUS7h27qf+7Suh80qssrdPoCoPafHIOvw2ELqZru7Gg1nSSq4uehEqoDMbIRrtKeEoa0rE2CrCFA+HFta4FM3pC+cGb0SyFnhkLuq69CAejtM+6S0qER70vApqcPY8iWd2ZHfrUUaoUSeZJikHyrZwIMxJJoVApdUaiHypVSpHWEc3wd18/kVVjAVZpLR2OCiHHbp3iN5rw6tyWJUu2nHv9BPFk962eclNYcTsGrIQHW2OlwZaHd4hbK5gaEg2BP1I7DGpQZRttLblcSxvbdQEMkafJkoy2eZtOXKQqHmlxhvZE9bdxVus7rPYLJzbNa3Pp5RPBw86Hpmxh512ehvPFpaRBMSZvJfz260NT5ljSn8jTQJG0/ZLo578SNRZaY8luTP7GCrKxFmmwaRs6Rho72Bo8ahs6/Bu9jhq7IBu8sht9RDT2rGnwofUfT78/AU+1mnSH4ucAAAAASUVORK5CYII=');
   background-repeat: no-repeat;
   background-size: 18px 18px;
   opacity: 0.7;
   cursor: pointer;
}

#Options:hover {
   opacity: 1.0;
}

.Option {
   display: none;
}

.Advanced .Option {
   display: block;
}

.Advanced #Domain {
   padding-right: 45px;
}


/* Field style for non-input elements */

.Field {
   height: 16px;
   margin-top: 10px;
   padding: 10px 5px;
   font-size: 16px;
   text-align: center;
   border-radius: 4px;
}


/* Buttons */

.Button:active {
   margin-top: 2px !important;
   border-bottom: 0 !important;
}


/* Generate button */

#Generate {
   padding-bottom: 8px;
   color: #fff;
   background-color: #356;
   font-weight: bold;
   border-bottom: solid 2px #023;
   cursor: pointer;
}

#Generate:hover {
   color: #fff;
   background-color: #467;
   border-bottom: solid 2px #134;
}

#Generate:active {
   margin-top: 12px !important;
}


/* Output field */

#Output, #Mask {
   display: none;
   color: #fff;
   background-color: #666;
   border: none;
   font-family: monospace;
   word-wrap: break-word;
}

#Output::selection {
   background-color: #fff;
   color: #333;
}

#Output::-moz-selection {
   background-color: #fff;
   color: #333;
}


/* Bookmarklet view */

@media only screen and (max-device-width: 800px) {

   body {
      width: 240px;
      background-color: #fff;
   }

   #main {
     margin: 0;
     padding: 15px;
     border-radius: 0;
   }

   #Output {
     height: auto;
   }

}
